<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>NiceJob!</title>
  <link rel="stylesheet" href="static/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Maven+Pro&display=swap" rel="stylesheet">
</head>

<body>
  <div>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">NiceJob!</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>

          <li><a href="jobs">Jobs</a></>
          <li><a href="profile">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="jumbo_container">
    <h2 class="jumbo">Welcome {{logged_in_user.first_name}} {{logged_in_user.last_name}}!</h2>
  </div>
  <div class="container">

    <h2>My Job Applications</h2>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Job</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Job</h4>
          </div>
          <div class="modal-body">
            <form action="/addjob" method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label for="company" class="form-label">Company Name</label>
                <input type="text" class="form-control" id="company" name="company" placeholder="">
              </div>
              <div class="mb-3">
                <label for="title" class="form-label">Job Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="">
              </div>
              <div class="mb-3">
                <label for="date_applied" class="form-label">Date Applied</label>
                <input type="date" class="form-control" id="date_applied" name="date_applied" placeholder="">
              </div>
              <div class="mb-3">
                <label for="applied_on" class="form-label">Applied On</label>
                <input type="text" class="form-control" id="applied_on" name="applied_on" placeholder="">
              </div>
              <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="location" placeholder="">
              </div>
              <div class="mb-3">
                <label for="website" class="form-label">Company Website (leave out https://)</label>
                <input type="text" class="form-control" id="website" name="website" placeholder="">
              </div>
              <div class="mb-3">
                <label for="next_steps" class="form-label">Next Steps</label>
                <input type="text" class="form-control" id="next_steps" name="next_steps" placeholder="">
              </div>
              <div class="mb-3">
                <label for="comments" class="form-label">Comments</label>
                <input type="text" class="form-control" id="comments" name="comments" placeholder="">
              </div>
              <div class="mb-3">
                <label for="rejected" class="form-label">Rejected?</label>
                <select aria-label="Default select example" class="form-select" name="rejected" id="rejected">
                  <option value=False>No</option>
                  <option value=True>Yes</option>
                </select>
              </div>
              <button type="submit" class="btn btn-danger"> Add Job </button>


            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>


      </div>
    </div>
    <div class="welcome_container">

      <table class="table table-dark">

        <thead class="table-dark">
          <tr>
            <th scope="col">Company</th>
            <th scope="col">Job Title</th>
            <th scope="col">Date Applied</th>
            <th scope="col">Applied On</th>
            <th scope="col">Location</th>
            <th scope="col">Website</th>
            <th scope="col">Next Steps</th>
            <th scope="col">Comments</th>
            <th scope="col">Rejected?</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>

          {%for job in all_jobs reverse%}
          {%if job.uploaded_by == logged_in_user%}
          <tr>
            {%if job.rejected == True %}
            <th class="reject" scope="row">{{job.company}}</th>
            <td>{{job.title}}</td>
            <td>{{job.date_applied}}</td>
            <td>{{job.applied_on}}</td>
            <td>{{job.location}}</td>
            <td><a href="https://{{job.website}}">{{job.website}}</a></td>
            <td>{{job.next_steps}}</td>
            <td>{{job.comments}}</td>
            <td>Yes</td>
            <form action="/jobs/edit/{{job.id}}" method="post">
              <input type="hidden" name="job_id" value="{{job.id}}">
              {% csrf_token %}
              <td><button class="btn btn-success" type="submit">Edit</button></td>
            </form>
            <form action="/delete" method="post">
              <input type="hidden" name="job_id" value="{{job.id}}">
              {% csrf_token %}
              <td><button class="btn btn-danger" type="submit">Delete</button></td>
            </form>
          </tr>
          {%endif%}
          {%if job.rejected == False %}
          <th scope="row">{{job.company}}</th>
          <td>{{job.title}}</td>
          <td>{{job.date_applied}}</td>
          <td>{{job.applied_on}}</td>
          <td>{{job.location}}</td>
          <td><a href="https://{{job.website}}">{{job.website}}</a></td>
          <td>{{job.next_steps}}</td>
          <td>{{job.comments}}</td>
          <td>No</td>
          <form action="/jobs/edit/{{job.id}}" method="post">
            <input type="hidden" name="job_id" value="{{job.id}}">
            {% csrf_token %}
            <td><button class="btn btn-success" type="submit">Edit</button></td>
          </form>
          <form action="/delete" method="post">
            <input type="hidden" name="job_id" value="{{job.id}}">
            {% csrf_token %}
            <td><button class="btn btn-danger" type="submit">Delete</button></td>
          </form>

          </tr>
          {%endif%}
          {%endif%}
          {% endfor %}
        </tbody>

      </table>
</div>
</body>

</html>